
.headline {
    font-size: larger;
    font-weight: bold;
}

pre {
    font-size: larger;
}


.row {
    display: flex;
}
.row-column {
    flex-direction: column;
    gap: 1rem;
}
.no-gap {
    gap: 0;
}
.row-around {
    justify-content: space-around;
}

button:disabled {
    min-width: 42px
}

#codeInput {
    width: 600px;
    height: 250px;
}

.example-code pre{
    margin-top: 0;
    margin-bottom: 0;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.grid-container {
    display: grid;
    grid-template-columns: 75% 25%;
  }
.message{
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
}
.message-info {
    background-color: lightskyblue;
}

.message-warning {
    background-color: lightsalmon;
}

.message-error {
    background-color: lightcoral;
}

.hide {
    display: none;
}

.dialogs dialog {
    width: 50%;
    margin: auto;
}

dialog .dialog-content-wrapper {
    display: flex;
    flex-direction: column;
    gap:1rem;
}

dialog .dialog-content-wrapper .dialog-quest{
    padding-left: 1rem;
}

dialog .dialog-content-wrapper .requirements{
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap:0.3rem;
}

dialog .dialog-content-wrapper .requirements .req{
    padding-left: 1rem;
    display: flex;
    gap:1rem;
    justify-content: start;
}

dialog .dialog-content-wrapper .requirements .req button{
    padding: 2px;
    background-color: lightgreen;
    border-radius: 10px;
}